.registration {
  text-align: center;
}

.registration__title {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.registration__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.registration__input {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 20px;
}
.registration__submit {
  padding: 20px;
  font-size: 20px;
}
.registration__input-poster {
  margin-bottom: 20px;
  color: #747474;
  padding: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(118, 118, 118);
  align-items: center;
  border-radius: 2px;
}
.registration__input-poster > *:first-child {
  margin-right: 10px;
}
