.header {
  border-bottom: 1px solid #cccccc;
  padding: 15px 0;
}
.header > div {
  display: flex;
  justify-content: space-between;
}
.contact__tel {
  margin-right: 20px;
}
.contact i {
  margin-right: 10px;
}
.contact__tel,
.contact__mail {
  display: inline-flex;
  text-decoration: unset;
}
.contact {
  display: flex;
  flex-direction: column;
}
.userInfo {
  display: flex;
  align-items: center;
}
.userInfo > * {
  display: inline-block;
}
.userInfo__name {
  display: none;
}
.userInfo__loginOut {
  cursor: pointer;
}
.logo {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}
.contact > *:hover > .svg {
  fill: #eaac00;
}
@media (min-width: 748px) {
  .contact {
    align-items: center;
    flex-direction: row;
  }
  .userInfo__name {
    margin-right: 10px;
    display: inline-block;
  }
}
