.itemDetails__left img {
  margin: 0 auto;
}
.itemDetails__right > *:not(:last-child) {
  margin-bottom: 10px;
}

@media (max-width: 755px) {
}
@media (min-width: 756px) {
  .itemDetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
}
