.product {
  text-align: center;
}
.product__list:not(:first-child) {
  margin-top: 10px;
}
.product__list {
  margin: 0 auto;
  max-width: 340px;
  margin-top: 10px;
  padding: 10px;
  transition: all 0.2s linear;
  background-color: #ffffff;
}
.product__list:hover {
  transform: scale(1.1);
  /* border: 1px solid #eaac00; */
  box-shadow: 10px 17.321px 40px 0px rgba(107, 125, 131, 0.3);
  z-index: 999;
}
.product__click {
  cursor: pointer;
}
.product__poster {
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__poster-img {
  max-width: 320px;
  width: 100%;
  height: auto;
  margin-bottom: 24px;
}
.product__rate {
  width: 120px;
  height: 24px;
  background-image: url("../../img/icons/star.png");
  margin: 0 auto 24px;
}
.product__name {
  font-weight: 500;
  margin-bottom: 24px;
}
.product__price {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}
.product__add:hover {
  background-color: #eaac00;
}

.product__price-new {
  display: inline-block;
}
.product__price-old {
  display: inline-block;
  font-size: 12px;
  text-decoration: line-through;
  color: red;
  vertical-align: super;
}
@media (min-width: 756px) {
  .product {
    display: flex;
    flex-wrap: wrap;
  }

  .product__list:nth-child(-n + 2) {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .product {
    max-width: 756px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .product {
    margin: 0;
    max-width: 1440px;
    justify-content: space-between;
  }
  .product__list {
    margin: auto 0;
  }
  .product__list:nth-child(-n + 4) {
    margin-top: 0;
  }
  .product__list:not(:nth-child(-n + 4)) {
    margin-top: 50px;
  }
}
