.App {
  text-align: center;
}

.error {
  position: fixed;
  z-index: 9999;
  width: 300px;
  height: 200px;
  margin: 20px;
  padding: 10px;
  background-color: #ec3040;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  background-attachment: scrooll;
}
